@media (min-width: 320px) and (min-device-width: 480px) {

  /* Add your styles for this media query here */
}


  
  /* Additional styles for laptops with a screen size of 960x540 and above */
  @media (min-width: 960px) and (min-height: 540px) {
    
    /* Top bar styles */
  
    /* Logo styles */
    .logo {
      display: flex;
      align-items: center;
      margin-top: 37px;
    }
    
    
    


    

    .hero-heading {
    color: #FFF;
    font-family: 'Mulish', sans-serif;
    font-size: 1.75rem;
    /* font-weight: 600; */
    line-height: 0;
    /* margin-bottom: -15px; */
    margin-top:0;}

    .hero-content {
      text-align: center;
      color: #0ac7e7;
      position: absolute;
      font-size: 1.0rem;
      left: 50%;
      transform: translate(-50%, -260%);
      z-index: 1;
  }
  
    .image-wrapper {
      float: left;
    }
    
   

    #about-image {
      width: 288px;
      margin-left: 60px;
    }
  
    


    .h2, h2{
    
      color: #F23580; 
      text-align: center;
      padding-top: 4%;
      padding-bottom: 4%;
 
    }


    .h3,h3 {
     font-size: 1.6rem;     
     color: #F23580; 
     text-align: center;
     padding-top: 4%;
     padding-bottom: 4%;

    }
  .center-content h4 {
    font-size: 30px;
    text-align: center;
    color: #F23580;
  }
  .smart-design {
    background-color: #FFF;
    color: #333;
    margin-left: 4%;
    margin-right: 4%;
    transition: transform 0.3s ease;
  }
  .smart-design :hover {
    transform: scale(1.05);
  }
  .p4 {
   font-size:  0.75rem;
  }

.smart-design img{
  width: 100%;
}
}
.col-md-2{   
 flex: 0 0 33.333333%;
/* margin-bottom: 10%; */
background-color: white;
color: black;
padding: 10px;
font-size: 14px;
border-radius: 16px;
margin-top: -44%;
font-size: 14px;
margin-left: 1%;
max-width: 20%;
text-align: center;
}

  .h6, h6 {
        /* margin-top: -10px; */
        color: #F23580;
        font-size: 1.5rem; 
        }
   .col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
 
 }
 

  .col-md-6 img {   
  border-radius: 4%;
  box-shadow: 0px 0px 5.4375px 0px #FFF, 0px 0px 10.875px 0px #FFF, 0px 0px 38.0625px 16px #FFF;
}
  


.h5, h5 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #F23580;
  margin-top: 5%;
}
.form {
  width: 70%;
  margin-left: 15%;
  padding: 13px;
  background-color: white;
  border-radius: 20px;
  margin: 5%}

  .jewl-img img {
    position: absolute;
    margin-top: -110%;
    left: 0;
    width: 100%;
    /* width: max-content; */
    /* height: 242%; */
    z-index: -1;
    overflow: hidden;
}
.smart-design .p4 {
      font-size: .75rem;
}


  .contact-title-wrapper {
  }
  /* margin-left: 75px; */
 


/* max-width: 50%; */

/* Media query for devices with a minimum width of 320px and minimum device width of 480px */

body {
     font-family: 'Mulish', sans-serif;
    background-color: black;
    color: white;                      
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative; /* Set body to relative position */
}
 

/* Adjust the top-bar styles */


.name {
  font-family: 'Mulish', sans-serif;
  font-size: 1.25rem; /* Adjust the font size as needed */
  color: #f23580;
  margin-left: -84%; /* Add a small margin to separate the logo and name slightly */
}
#navbarSupportedContent.collapse.navbar-collapse img {
 
    margin-top: 2%;
    margin-left: 6%;
    width: 80px;
}


.navigation-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.navigation-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.navigation-links a:hover {
  background-color: #f23580;
  box-shadow: 0px 0px 5.4375px 0px #FFF, 0px 0px 10.875px 0px #FFF, 0px 0px 38.0625px 16px #FFF;
}
.navigation-links li {
  margin-right: 5%;
  font-family: "mulish";
}

.navigation-links a:hover {
  background-color: #f23580;
  box-shadow:  0px 0px 5.4375px 0px #FFF, 0px 0px 10.875px 0px #FFF, 0px 0px 38.0625px 16px #FFF;}
  .hero-content {
    text-align: center;
    color: #0ac7e7;
    position: absolute;
    font-size: 1.0rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .h1,h1 {
    color: #f5f5f5;
  }
  .hero-image {
    margin-top: -2S%;
    position: relative;
    width: 100%;
  
    /* padding-top: 56.25%; */
}
  
  /* Remove the previous styling for .center-image */
  .center-image {
    display: flex;
    justify-content: center;
    align-items: center;
     /* Adjust this margin as needed */
  }
  
  /* Adjust the styling for the center projects title */
  .hero-content {
    text-align: center;
    color: #0ac7e7;
    position: absolute;
    font-size: 1.0rem;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
  
  /* Add a specific class for the container of the center content */
  .center-content-container {
    padding: 20px;
    text-align: center;
  }
  
  /* Adjust the styling for the center content heading */
  .center-content h4 {
    font-size: 1.5rem;
    color: #F23580;
  }
  
  /* Adjust the styling for the text box in center content */
  .text-box {
    background color: #000;
    color: white;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left; /* Adjust the text alignment as needed */
  }
  
  /* Add some margin to the form to separate it from the center content */
  form {
    margin-top: 20px;
  }

  /* position: relative; */
  /* width: 100%; */
  

.arrow-container{ 
  margin-left:86%;
  margin-top: -1%;
  }
  .arrow-image {
    width: 20%;
    height: auto;
    position: sticky;
    /* margin-top: -145%; */
    /* Set the default filter to make the image white */
    filter: brightness(50%) sepia(100%) saturate(0%);
    /* Add a transition to create a smooth animation */
    transition: filter 0.3s ease;
  }
  
  /* Add a hover rule to change the filter on hover */
  .arrow-image:hover {
    /* Set the filter to make the image pinkish */
    filter: brightness(100%); /* Adjust the hue-rotate value to get the desired pinkish effect */
    transform: scale(1.05);}
.col-md-4 {
-ms-flex: 0 0 33.333333%;
flex: 0 0 33.333333%;
max-width: 28.333333%;
/* margin-bottom: 10%; */
background-color: white;
color: black;
padding: 19px;

border-radius: 13px;}


.center-image img{
  z-index: 1; 
margin-top: -100px;
margin-bottom: 10px
;}

/* Your existing CSS code here */
.row {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10%;
  column-gap: 5%;
}

h4 {padding: 5%;
  color:#000
}



.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 5%;
}

.button {

  background-color: #f23580;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: inline-flex;
  padding: 15.5px 24px 15.5px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button:hover {
  background-color:#00bff0;
}

.center-content{
  align-items: flex-start; /* Align items to the top of the container */
  padding: 20px;
  margin-bottom: 10%;
  border-radius: 1%;
}


.jewl-img img {
  position: absolute;
  margin-top: -110%;
  left: 0;
  width: 100%;
  /* width: max-content; */
  /* height: 242%; */
  z-index: -1;
  overflow: hidden;
}


.center-image img {
  z-index: 1;
  /* margin-top: -100px; */
  margin-bottom: 10px;
  width: 100%;
  margin-top: -16%;
}


.center-content h4 {
  font-size: 38px;
  color: #F23580;
}

.smart-design {
  background-color: #FFF;
  color: #333;

  margin-left: 4%;
  margin-right: 4%;

}



.col-6 {
   color: black;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  background-color: #fff;
  font-size: 1rem;
  border-radius: 2%;
}



/* Styles for the image box */

/* Styles for the flexbox */
.image-wrapper {
 
  width: 40%;
  float: left;
  margin-right: 30px; /* Add some spacing between the image and the grid */
}

/* Style for the image */



    /* padding-bottom: 10px; */


/* Center the resume image horizontally */
.image-section {
  text-align: center;
  margin-top: 2%;
}


.h5 {
  color: #F23580;
  margin-left: 50%;
  font-size: 32px;
  padding-bottom: 46px;
  position: relative;
}
.h5, h5 {
  text-align: left;
  font-weight: bold;
  font-size: 2rem;
  color: #F23580;
  margin-top: 5%;
  margin-bottom: 5%;
}





  .h7,h7 {
  color:  #f23580;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 47%;
  margin-top: 2%;
  transition: transform 0.3s ease;
}

.h7,h7 :hover{
  color:  #f23580;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 47%;
  margin-top: 2%;
  transform: scale(1.05);
}

.h8, h8 {

    color: #F23580;
    margin-left: 47%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20%;
}

/* Apply general styles to the form and its elements */
body {
  background-color: white;
  color: black; /* Set the text color to black */
}
.about-section {
  /* Other styles for the section */
  transition: transform 0.3s ease; /* Add a transition property */
}

.about-section:hover {
  transform: scale(1.05); /* Apply a slight zoom-in effect on hover */
}



.background-img {
 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 100%;
  overflow: hidden;
}

.content-wrapper {
  position: relative;
  z-index: 1;
 
 
}
.resume-section {
  margin-top: -121%;
}

.resume-contact-wrapper {
  /* Your existing styles for the wrapper */
  position: relative; /* Add relative positioning to contain the form */
  z-index: 2; /* Place the contact form above the background image */
}
/* Apply general styles to the form and its elements */
.resume-title-wrapper {
  margin-bottom: 10%;
}
form {
  
  padding: 38px;
  background-color: white;
  border-radius: 20px;
  margin-left: 25%;
  width: 50%;
}

.contact-title p {
  color: #00BFF0;
  font-family: Mulish;
  font-size: 1.5rem;
  font-style: normal;
  width: 34%;
  margin-left: 34%;
  /* font-weight: 400; */
  padding: 10px;

}

/* Adjust the size of the input fields */
.form-control {
  width: 100%; /* Set the input fields to take up 100% of the available width */
  padding: 10px; /* Adjust the padding as needed */
  color: black; /* Set the text color to black */
}

/* Adjust the size of the labels */
.form-label {
  font-size: 16px; /* Adjust the font size as needed */
  color: black; /* Set the text color to black */
}

/* Adjust the size of the checkbox input */
.form-check-input {
  width: 20px; /* Adjust the width of the checkbox as needed */
  height: 20px; /* Adjust the height of the checkbox as needed */
  color: black; /* Set the text color to black */
}

/* Adjust the size of the checkbox label */
.form-check-label {
  font-size: 14px; /* Adjust the font size of the checkbox label as needed */
  color: black; /* Set the text color to black */
}

/* Adjust the size of the submit button */
.btn-primary {
  font-size: 16px; /* Adjust the font size of the button as needed */
  padding: 10px 20px; /* Adjust the padding of the button as needed */
  color: black; /* Set the text color to black */
  background-color: #F23580;
}

#exampleInputPassword1.form-control {
  height: 160px;
}

/* Footer styles */
.footer {
  width: 100%;
 margin-top: 8%;
  background-color: #053b49;
  color: white;
  padding: 6px;
  position: absolute; /* Position the footer at the bottom of the viewport */
  bottom: 1; /* Stick it to the bottom of the viewport */
  list-style: none;
  
}

.footer-navigation {
  margin-top: 2%;
}


/* Add appropriate padding to create space between footer and content above it */

.footer-logo {

  margin-right: 30%;

}

.footer-logo {
  margin-right: 12%;
  margin-top: 2%;
}

.footer-logo img {
    width: 70px;
  height: auto;
margin-top: -10%;
  margin-left: 90%;
}

.footer-navigation {
  list-style: none;
  margin-top: 2%; 
  margin-bottom: 2%;
}

.footer-navigation a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.footer-navigation li a {
  color: white; /* Set the default text color to white */
  transition: color 0.3s ease; /* Add a transition for smooth animation */
}

.footer-navigation li a:hover {
  color: #F23580; /* Change the text color to #F23580 on hover */
}
a .navigation-links {
  color: #FFF;
}
.bg-light {
  background-color: black;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #fff;
}
.navigation-links li {
  margin-right: 5%;
  font-family: "mulish";
}
.navigation-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.nav-link {
  display: block;
  /* padding: .5rem 4rem; */
  font-size: 1.5rem;
  justify-content: right;
  color: #FFF;
}
.navbar-nav mr-auto { justify-content: flex-start;

}
.mr-auto, .mx-auto {
  margin-left: 56%;
}
a {
  /* color: #007bff; */
  text-decoration: auto;
  font-family: 'Mulish';}
  html {
    scroll-behavior: smooth;
  }